.Rectangle-1 {
  width: 1440px;
  height: 50px;
  margin: 0 0 40px;
  padding: 7px 24px 0;
  box-shadow: 0 1px 0 0 #d1d1d1;
  background-color: #ffffff;
}
.MessagesBox {
  display: inline;
  background-color: black;
}
.Notifcations-Box {
  display: inline;
}
.Account-Box {
  display: inline;
}
.Messages {
  width: 58px;
  height: 16px;
  flex-grow: 0;
  margin: 8px 0 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-align: left;
  color: #0b68fd;
  display: inline;
  float: right;
  margin-top: 0px;
  margin-right: 10px;
}
.Notifcations {
  width: 73px;
  height: 16px;
  flex-grow: 0;
  margin: 8px 0 0;
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-align: left;
  color: #85898f;
  display: inline;
  float: right;
  margin-top: 0px;
  margin-right: 10px;
}
.Account {
  width: 48px;
  height: 16px;
  flex-grow: 0;
  margin: 0 4px 0 0;
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-align: left;
  color: #85898f;
  display: inline;
  float: right;
  margin-top: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
.Vector-Menu {
  width: 16px;
  height: 16px;
  margin: 0 0 0 4px;
  padding: 6.7px 4.7px 6px 4.7px;
}
.Vector-Message {
  width: 20px;
  height: 20px;
  background-color: var(--bluetiful);
}
.Rectangle-1423 {
  width: 920px;
  height: 600px;
  margin: 40px 260px 0;
  border-radius: 6px;
  box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.5), 0 1px 4px 0 rgba(63, 63, 68, 0.15);
  background-color: #ffffff;
}
.Messages-Chat {
  width: 79px;
  height: 28px;
  margin: 18px 235px 18px 16px;
  font-family: "Noto Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.75;
  letter-spacing: 0.25px;
  text-align: left;
  color: #212428;
  display: inline;
  position: relative;
  top: 10px;
  left: 10px;
}
.Rectangle-1432 {
  width: 1px;
  height: 600px;
  background-color: #d1d1d1;
  position: absolute;
  left: 590px;
  top: 105px;
}
.Rectangle-1433 {
  width: 919px;
  height: 1px;
  margin: 18px 0 0;
  background-color: #d1d1d1;
}

.Umesh {
  width: 49px;
  height: 22px;
  margin: 21px 63px 21px 24px;
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: 0.25px;
  text-align: left;
  color: #212428;
  display: inline;
  position: relative;
  top: 10px;
}
.Rectangle-299 {
  width: 175px;
  height: 30px;
  flex-grow: 0;
  margin-top: 10px;
  margin-left: 20px;
  padding: 8px 90px 8px 16px;
  border-radius: 6px;
  border: solid 1px #b6b8bb;
  background-color: #ffffff;
}
.Rectangle-1436 {
  width: 292px;
  height: 90px;
  margin: 56px 0 1px;
  padding: 0px 15px 0px 16px;
  box-shadow: 0 1px 0 0 #d1d1d1;

  cursor: pointer;
}
.Rectangle-1437 {
  width: 292px;
  height: 90px;
  margin: 1px 0;
  padding: 0px 15px 0px 16px;
  box-shadow: 0 1px 0 0 #d1d1d1;
  /* background-color: #ffffff; */
  cursor: pointer;
}
.Rectangle-1438 {
  width: 292px;
  height: 90px;
  margin: 1px 0;
  padding: 0px 15px 0px 16px;
  box-shadow: 0 1px 0 0 #d1d1d1;
  /* background-color: #ffffff; */
  cursor: pointer;
}
.Rectangle-1439 {
  width: 292px;
  height: 90px;
  margin: 1px 0;
  padding: 0px 15px 0px 16px;
  box-shadow: 0 1px 0 0 #d1d1d1;
  /* background-color: #ffffff; */
  cursor: pointer;
}
.Rectangle-1440 {
  width: 292px;
  height: 90px;
  margin: 1px 0;
  padding: 0px 15px 0px 16px;
  box-shadow: 0 1px 0 0 #d1d1d1;
  /* background-color: #ffffff; */
  cursor: pointer;
}
.Rectangle-1443 {
  width: 68px;
  height: 30px;
  flex-grow: 0;
  margin: 27px 104px 32px 5px;
  padding: 7px 16px;
  border-radius: 60px;
  background-color: #cee1ff;
  position: absolute;
  left: 850px;
  top: 518px;
}
.Today {
  width: 36px;
  height: 16px;
  flex-grow: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-align: left;
  color: #000000;
  margin-left: 15px;
  margin-top: 5px;
}
.Ellipse-16 {
  width: 28px;
  height: 28px;
  margin: 0 0px 0px 0;
}
img {
  border-radius: 50%;
}
.profilechat {
  width: 30px;
  position: relative;
  top: 20px;
}
.Umesh-Name {
  width: 49px;
  height: 22px;
  margin: 0 152px 4px 8px;
  font-family: "Open Sans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: 0.25px;
  text-align: left;
  color: #212428;
  position: relative;
  left: 40px;
  bottom: 20px;
}
.Conversation {
  position: absolute;
  left: 598px;
  top: 175px;
  width: 590px;
  overflow-y: auto;
  height: 390px;
}
.Hi-how-are-you-doing-Im-looking-for-an-opportunities-in-designs {
  width: 234px;
  height: 32px;
  margin: 4px 0 0 8px;
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-align: left;
  color: #85898f;
  position: relative;
  left: 40px;
  bottom: 20px;
}
.Jul-25 {
  width: 33px;
  height: 16px;
  margin: 3px 0 7px 152px;
  font-family: "OpenSans", sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: 0.4px;
  text-align: right;
  color: #4e5156;
  display: inline;
  position: relative;
  left: 70px;
  bottom: 80px;
}
.line-text-box {
  width: 598px;
  height: 1px;
  margin: 18px 0 0;
  background-color: #d1d1d1;
  position: relative;
  left: 323px;
  bottom: 100px;
}
.text-area {
  position: relative;
  left: 325px;
  bottom: 150px;
}
.submit {
  position: relative;
  left: 500px;
  bottom: 20px;
}
.send-file {
  position: relative;
  left: 100px;
  bottom: 40px;
}
#buttonsubmit {
  width: 88px;
  height: 40px;
}
#upload {
  position: relative;
  left: 400px;
  bottom: 155px;
}
#sendFile {
  position: relative;
  left: 350px;
  bottom: 155px;
}
textarea {
  border-color: white;
}

.Rectangle-14 {
  flex-grow: 0;

  border-radius: 6px;
  box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.15);
  border: solid 1px #0953ca;
  background-color: #0b68fd;
}

.Send {
  width: 34px;
  height: 22px;
  flex-grow: 0;
  margin: 1px 6px 1px 0;
  font-family: "OpenSans", sans-serif;
  font-size: 14px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: left;
  color: #ffffff;
  float: left;
}
.send-image {
  width: 24px;
  height: 24px;
  margin: 0 0 0 6px;
  padding: 3px 1px 3px 2px;
}
