<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Chat</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:wght@700&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.5/socket.io.min.js"></script>
    <script
      src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"
      type="text/javascript"
    ></script>
    <link
      rel="stylesheet"
      href="../static/css/styles.css"
    />
  </head>
  <body>
    <div class="Rectangle-1">
      <div class="Account">
        <div class="Ellipse-16">
          <img
            src="../static/data/profile_pic.jpg"
            width="20px"
            style="margin-left: 10px"
          />
        </div>
        Account
      </div>

      <div class="Notifcations">
        <img
          src="../static/data/notification.png"
          width="25px"
          style="margin-left: 15px"
        />Notifcations
      </div>

      <div class="Messages">
        <img
          src="../static/data/message.png"
          width="25px"
          style="margin-left: 15px"
        />Messages
      </div>
    </div>

    <div class="Rectangle-1423">
      <div class="Messages-Chat">Messages</div>

      <div id="nameToBeChange" class="Umesh">JustHire</div>

      <div class="Rectangle-1433"></div>

      <div>
        <div class="Rectangle-299"></div>
        <div
          id="listOfPersons"
          style="
            width: 323px;
            overflow-y: auto;
            height: 492px;
            overflow-x: hidden;
            background-color: #ffffff;
          "
        >
          <div id="person1" class="Rectangle-1436" style="margin-top: 10px">
            <div class="Ellipse-16">
              <img
                src="../static/data/maleuser.png"
                class="profilechat"
              />
            </div>
            <div id="userName1" class="Umesh-Name">Umesh</div>

            <div
              class="
                Hi-how-are-you-doing-Im-looking-for-an-opportunities-in-designs
              "
            >
              Hi, how are you doing? I’m looking for an opportunities in
              designs.
            </div>
            <div class="Jul-25">Jul-25</div>
          </div>
          <div id="person2" class="Rectangle-1437">
            <div class="Ellipse-16">
              <img
                src="../static/data/maleuser.png"
                class="profilechat"
              />
            </div>
            <div id="userName2" class="Umesh-Name">Shailesh</div>

            <div
              class="
                Hi-how-are-you-doing-Im-looking-for-an-opportunities-in-designs
              "
            >
              Hi, how are you doing? I’m looking for an opportunities in
              designs.
            </div>
            <div class="Jul-25">Jul-25</div>
          </div>
          <div id="person3" class="Rectangle-1438">
            <div class="Ellipse-16">
              <img
                src="../static/data/maleuser.png"
                class="profilechat"
              />
            </div>
            <div id="userName3" class="Umesh-Name">Mukesh</div>

            <div
              class="
                Hi-how-are-you-doing-Im-looking-for-an-opportunities-in-designs
              "
            >
              Hi, how are you doing? I’m looking for an opportunities in
              designs.
            </div>
            <div class="Jul-25">Jul-25</div>
          </div>
          <div id="person4" class="Rectangle-1439">
            <div class="Ellipse-16">
              <img
                src="../static/data/maleuser.png"
                class="profilechat"
              />
            </div>
            <div id="userName4" class="Umesh-Name">Suresh</div>

            <div
              class="
                Hi-how-are-you-doing-Im-looking-for-an-opportunities-in-designs
              "
            >
              Hi, how are you doing? I’m looking for an opportunities in
              designs.
            </div>
            <div class="Jul-25">Jul-25</div>
          </div>
          <div id="person5" class="Rectangle-1440">
            <div class="Ellipse-16">
              <img
                src="../static/data/maleuser.png"
                class="profilechat"
              />
            </div>
            <div id="userName5" class="Umesh-Name">Kamlesh</div>

            <div
              class="
                Hi-how-are-you-doing-Im-looking-for-an-opportunities-in-designs
              "
            >
              Hi, how are you doing? I’m looking for an opportunities in
              designs.
            </div>
            <div class="Jul-25">Jul-25</div>
          </div>
          <!-- adding one more user -->
          <div id="person6" class="Rectangle-1440">
            <div class="Ellipse-16">
              <img
                src="../static/data/maleuser.png"
                class="profilechat"
              />
            </div>
            <div id="userName6" class="Umesh-Name">Ramesh</div>

            <div
              class="
                Hi-how-are-you-doing-Im-looking-for-an-opportunities-in-designs
              "
            >
              Hi, how are you doing? I’m looking for an opportunities in
              designs.
            </div>
            <div class="Jul-25">Jul-25</div>
          </div>
        </div>
        <div class="Rectangle-1432"></div>
        <div class="Conversation" id="contents"></div>
        <div>
          <div class="line-text-box"></div>
          <div class="text-area">
            <form id="the_form">
              <textarea id="msg" name="msg" rows="5" cols="78"> </textarea>

              <br /><br />
              <button
                id="buttonsubmit"
                class="submit Rectangle-14"
                type="submit"
                value="Submit"
              >
                <div class="Send">Send</div>
                <img
                  class="send-image"
                  src="../static/data/send.png"
                />
              </button>
            </form>
            <!-- <div class="send-file">
              <input type="file" id="upload" />
              <button id="sendFile">Send File</button> -->
          </div>
        </div>
        <div class="send-file">
          <input type="file" id="upload" />
          <button id="sendFile">Send File</button>
        </div>
      </div>
    </div>
  </body>

  <script src="../static/javascript/script.js"></script>
</html>
