<html>
    <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/fresh.css">
    </head>
    <body style="margin: 0 0 0 0;">
        <div class="Outer-div">
        <div class="Header">
            <div class="Right-handside"></div>
            <div class="Left-handside">
                <div class="Next">Next</div>
            </div>
        </div>
        <div class="Blue-line-experience-choose"></div>
        <div class="Step-14"> Step 4/4</div>
        <div class="Choose-preferences">Choose your preferences</div>
        <div class="Please-choose-your-desired-start-up-to-begin-with"> Connect your accounts to get to know you better</div>
        <div class="Central-box-experience-choose">
            <div class="What-is-your-expected-salary-">What is your expected salary?<div class="text-style-1">*</div></div>
            <div class="Rectangle-299">
                <div class="select">Select</div>
            </div>
            <div class="What-are-your-core-competency ">What are your core competency?</div>
            <div class="Rectangle-1525">
                <div class="Ex-UX-Design-User-research-">Ex-UX-Design,User-research...</div>
            </div>
            <div class="word-limit">0/750</div>
        </div>

    </body>
</html>