<html>
    <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/fresh.css">
    </head>
    <body style="margin: 0 0 0 0;">
        <div class="Outer-div">
        <div class="Header">
            <div class="Right-handside"></div>
            <a href="http://localhost:5003/next">
            <div class="Left-handside">
               <div class="Next">Next</div>
            </div></a>
        </div>
        <div class="Blue-line"></div>
        <div class="Step-14"> Step 1/4</div>
        <div class="Company-preferences">Company Preferences</div>
        <div class="Please-choose-your-desired-start-up-to-begin-with"> Please choose your desired startup to begin with</div>
        <div class="Central-box">
            <div class="Choose-your-desired-start-up-">Choose your desired start up<div class="text-style-1">*</div></div>
            <form action="http://localhost:5003/preferences" method="post">
            <div class="Central-a">
                <div class="Type">Type</div>
                <div class="Stage">Stage</div>
            </div>
            <div class="Central-b">

                <input id="type" name="type" type="text" class="Type-Rectangle"/>
                <input id="stage" name="stage" type="text" class="Stage-Rectangle"/>
            </div>
            <div class="Central-c">
                <div class="Company-name">Company name</div>
                <div class="Company-you-do-not-wish-to-apply">Company you do not wish to apply</div>
            </div>
            <div class="Central-d">
                <input id="companyname" name="companyname" type="text" class="Rectangle-1425"/>
                <input id="companynotapply" name="companynotapply" type="text" class="Rectangle-1426"/>
            </div>
            <div class="Central-e">
                <div class="Ex-Your-current-company-Google">Ex Your current company (Google)</div>
            </div>
            <div class="Choose-your-job-type-">Choose your job type<div class="text-style-1">*</div></div>
            
            <div class="Central-f">
                <div class="Rectangle-1427">
                    <div class="Rectangle-1429"><img src="../static/data/Group 246.svg" style="margin-left: 80px;margin-top: 15px;"></div>
                    <div class="Active-for-roles">Active for roles</div>
                    <div class="If-you-are-a-candidate-looking-for-job-in-every-4-7-days-a-month">If you are a candidate looking for job in every 4-7 days a month</div>
                </div>
                <div class="Rectangle-1428">
                    <div class="Rectangle-1430"><img src="../static/data/Group 247.svg" style="margin-left: 80px;margin-top: 15px;"></div>
                    <div class="Passive-for-roles">Passive for roles</div>
                    <div class="If-you-are-a-candidate-looking-for-job-in-every-once-or-twice-a-month">If you are a candidate looking for job in every once or twice a month </div>
                </div>

            </div>
            <input type="submit" class="Rectangle-16" value="Sign Up">
            </form>
        </div>
    </div>

    </body>
</html>