<html>
    <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/fresh.css">
    </head>
    <body style="margin: 0 0 0 0;">
        <div class="Outer-div">
        <div class="Header">
            <div class="Right-handside"></div>
            <div class="Left-handside">
                <div class="Next">Next</div>
            </div>
        </div>
        <div class="Blue-line-connect"></div>
        <div class="Step-14"> Step 3/4</div>
        <div class="Company-preferences">Connect accounts</div>
        <div class="Please-choose-your-desired-start-up-to-begin-with"> Connect your accounts to get know of you better</div>
        <div class="Central-box-experience">
            <div class="LinkedIn-profile-">LinkedIn Profile<div class="text-style-1">*</div></div>
            <div class="Rectangle-299">
                <div class="httpswwwlinkedincomusername">http://www.linkedin.com/username</div>
            </div>
            <div class="Github-profile">Github Profile</div>
            <div class="Rectangle-1530">
                <div class="httpsgistgithubcomusername ">http://gist.github.com/username</div>
            </div>
        </div>

    </body>
</html>