<html>
    <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/fresh.css">
    </head>
    <body style="margin: 0 0 0 0;">
        <div class="Outer-div">
        <div class="Header">
            <div class="Right-handside"></div>
            <div class="Left-handside">
                <div class="Next">Next</div>
            </div>
        </div>
        <div class="Blue-line-experience-choose"></div>
        <div class="Step-14"> Step 4/4</div>
        <div class="Choose-preferences">Professional Details</div>
        <div class="Please-choose-your-desired-start-up-to-begin-with"> Please fill all the details to know you professionally better for us</div>
        <div class="Central-box-professional">
            <div class="Phone-number">Phone number</div>
            <div class="Phone-number-Rectangle">
              <div class="Central-g">
                <div class="country-code">+91</div>
                <div class="Lineprof"></div>
              </div>
            </div>
            <div class="Where-do-you-currently-work-">Where do you currently work?<div class="text-style-1">*</div></div>
            <div class="Central-h">
              <div class="Designation">
                Designation
              </div>
              <div class="Company-name">
                Company name
              </div>
            </div>
            <div class="Central-i">
              <div class="Rectangle-1541">
              <div class="Ex-Software-Engineer">Ex:Software Engineer</div>
              </div>
              <div class="Rectangle-1542"></div>
            </div>
            <div class="Im-not-employed-currently">I'm not employed currently</div>
            <div class="Central-j">
              <div class="What-is-your-expected-salary">
                What is your expected salary?
              </div>
              <div class="Im-available-in">
                I'm available in
              </div>
            </div>
            <div class="Central-k">
              <div class="Rectangle-1543"></div>
              <div class="Rectangle-1544"></div>
            </div>
        </div>

    </body>
</html>