<html>
    <head>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
      rel="stylesheet"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/fresh.css">
    </head>
    <body style="margin: 0 0 0 0;">

            <div class="Right-handside"></div>
        
            <div class="Central-box-reset">
        <div class="Reset-password">Reset Password</div>
        <div class="Please-enter-new-password"> Please enter new password</div>
        
            <div class="New-password-">New Password<div class="text-style-1">*</div></div>
            <div class="Rectangle-299-reset">
                <div class="Password">Password</div>
            </div>
            <div class="Confirm-new-password-">Confirm new password<div class="text-style-1">*</div></div>
            <div class="Rectangle-1530-reset">
                <div class="Confirm-password ">Confirm Password</div>
            </div>
            <div class="Reset-pass-rectangle">
                <div class="Reset-password-button">Reset Password</div>
            </div>
        </div>

    </body>
</html>